<!DOCTYPE html>

{% load static %}

<html>

<head>
	<meta name="yandex-verification" content="78e3999d88956e95" />
	
	<meta charset="utf-8">
	<meta name ="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<title>ТЕСТИРОВАНИЕ ГЕНЕРАТОРОВ СЛУЧАЙНЫХ ЧИСЕЛ</title>

</head>

<body>

	<main>
	
		<button class="button21" onclick="window.location.href = '{% url 'inputData:home' %}';">НА ГЛАВНУЮ</button>
		<button class="button22" onclick="window.location.href = '{% url 'results:results' %}';">ЛИСТ РЕЗУЛЬТАТОВ</button>

		{% block content %}
		
		
		{% endblock %}

	</main>


</body>
</html>